<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .button{
            
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>this is sign up page</h1>
    <form action="/user/login" method="POST">
        <label for="">Enter Email</label>
        <input required type="text" name="email">
        <label for="">Enter Password</label>
        <input required type="text" name="password">
        <button class="button" type="submit">Login</button>
    </form>
</body>
</html>